body {
    background: linear-gradient(to right,#fd0a67fd,#c8ff00 );
 
}

.dd {
    padding: 20px;
    width:50rem;
    height:40rem;
    flex-direction: column;
    background: rgba(255,255,255,0,0.06);
    box-shadow: 0 8px 32px;
    border-radius: 30px;
}

#hh2 {
    font-family: 'Anton', sans-serif;
}